Empty_Repository/obj/Debug Empty_Repository/obj/Empty_Repository.csproj.nuget.dgspec.json Empty_Repository/obj/Empty_Repository.csproj.nuget.g.props Empty_Repository/obj/Empty_Repository.csproj.nuget.g.targets Empty_Repository/obj/project.assets.json Empty_Repository/obj/project.nuget.cache
Empty_Repository/bin/Debug
Empty_Repository/obj/Debug Empty_Repository/obj/Empty_Repository.csproj.nuget.dgspec.json Empty_Repository/obj/Empty_Repository.csproj.nuget.g.props Empty_Repository/obj/Empty_Repository.csproj.nuget.g.targets Empty_Repository/obj/project.assets.json Empty_Repository/obj/project.nuget.cache
Empty_Repository/bin/Debug
